<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORGOT PASSWORD</title>
</head>
<body>
 <h1>verify otp</h1>
 <form action="/postreset" method="POST">
 <input type="hidden" value="<%= token %>" name="token">
    <label for="otp">Otp</label>
    <input type="text" name="otp">
 

    <input type="submit" value="verify">
 </form>
</body>
</html>